# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.ini

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# backup files
*.*~
\#*\#
\.\#*

# Gradle files
/.gradle
/build

# Intellij IDEA files
/.idea
/*.iml
/src/main/generated
/out

/raido-engine/src/main/java/com/raidoengine/algorithm
/raido-engine/src/main/java/com/raidoengine/model
/raido-engine/src/main/java/com/raidoengine/routeparsing
/raido-engine/src/main/java/com/raidoengine/util
/raido-engine/src/test

